<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>spring-mvc-example</display-name>

	<!-- Add Spring MVC DispatcherServlet as front controller -->
	<servlet>
        <servlet-name>enrico</servlet-name>
        <servlet-class>
                org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <!--  contextConfigLocation init-param viene usato per specificare la locazione del file di Configurazione dei bean di Spring. -->
        <!-- Una volta che la DispatcherServlet viene inizializzata, cerca un file chiamato [servlet-name]-servlet.xml nella cartella WEB-INF --> 
        <!-- della web-application. In questo esempio il framework cerca un file chiamato enrico-servlet.xml. -->
        <init-param>
       		<param-name>contextConfigLocation</param-name>
       		<param-value>/WEB-INF/enrico-servlet.xml</param-value>  
    	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>enrico</servlet-name>
        <url-pattern>/</url-pattern> 
    </servlet-mapping>
    
 </web-app>